<div>
  <div class="containerForHeading">
    <h1 class="heading">Batch : {{ batchName }}</h1>
  </div>
  <br />
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sessions">
      <app-session [batchId]="batchId"></app-session>
    </mat-tab>

    <mat-tab label="Candidates">
      <ng-template matTabContent>
        <app-students [batchId]="batchId"> </app-students>
      </ng-template>
    </mat-tab>

    <mat-tab label="Attendance">
      <ng-template matTabContent>
        <app-attendance [batchId]="batchId"></app-attendance>
      </ng-template>
    </mat-tab>

    <mat-tab label="Assignment">
      <ng-template matTabContent
        ><app-assignments [batchId]="batchId"> </app-assignments>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
