<div>
  <h1>Batches</h1>

  <button mat-raised-button color="primary" (click) = "openNewBatchDialog()">New Batch</button>
</div>

<!--
<table mat-table #table [dataSource]="dataSource">
  <ng-container mat ColumnDef="BatchName">
    <th mat-header-cell *matHeaderCellDef> Batch Name </th>
    <td mat-cell *matCellDef="let row"> {{row.BatchName}} </td>
  </ng-container>


  <ng-container mat ColumnDef="StartDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let row"> {{row.StartDate}} </td>
  </ng-container>


  <ng-container mat ColumnDef="EndDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let row"> {{row.EndDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<button (click) = "showBatches()"></button>

