<div>
  <h1>Batches</h1>

  <button mat-raised-button color="primary" (click) = "openNewBatchDialog()">New Batch</button>
</div>


<mat-table [dataSource]="dataSource" style = "margin: 20px;" class="mat-elevation-z8">
  <!-- Batch Name Column -->
  <ng-container matColumnDef="BatchName">
    <mat-header-cell *matHeaderCellDef> BatchName </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.BatchName}} </mat-cell>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="StartDate">
    <mat-header-cell *matHeaderCellDef> StartDate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.StartDate}} </mat-cell>
  </ng-container>

  <!-- End Date Column -->
  <ng-container matColumnDef="EndDate">
    <mat-header-cell *matHeaderCellDef> EndDate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.EndDate}} </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


<!--
<button (click) = "showBatches()"></button>
-->

