<div class="horiaaa">
  <h1>
    <span>Accolite University Management System</span>
  </h1>
  <div class="typed">
    <span class="element"></span><br />
    <br />
    <!-- <app-signin
    *ngIf="isNotLoggedIn"
    type="google"
    [onSignIn]="signIn"
  ></app-signin> -->
    <div class="center">
      <button
        *ngIf="isNotLoggedIn"
        [disabled]="isSigningIn"
        mat-raised-button
        mat-elevation-z8
        style="height: 50px"
        (click)="socialLogin()"
      >
        <mat-icon
          *ngIf="!isSigningIn"
          style="width: 50px; height: 30px"
          svgIcon="logo"
        ></mat-icon>
        <mat-icon
          *ngIf="isSigningIn"
          style="width: 50px; height: 30px"
          svgIcon="loader"
        ></mat-icon>
        Login With Google
      </button>
      <button
        *ngIf="!isNotLoggedIn"
        mat-raised-button
        mat-elevation-z8
        style="height: 50px"
        (click)="loggedin()"
        color="primary"
      >
        <mat-icon>arrow_right</mat-icon> Lets Go
      </button>
    </div>
  </div>
</div>
