<div class="example-container mat-elevation-z8" style="margin: 60px 220px">
  <table mat-table [dataSource]="arr">

    <!-- Name Column -->
    <ng-container *ngFor="let column of batchdata;" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="batchdata; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: batchdata;"></tr>
  </table>
</div>
