<div class=" example-container mat-elevation-z8 mat-elevation-z8">
  <mat-table matTableExporter
  #exporter="matTableExporter"
  [dataSource]="attendanceData" style = "width: 100%;" >

    <!-- Name Column -->
    <ng-container matColumnDef="Student" sticky>
      <mat-header-cell style="min-width: 160px;"  *matHeaderCellDef>Students</mat-header-cell>>
      <mat-cell *matCellDef="let row">{{ row.student.studentName }}</mat-cell>>
    </ng-container>

    <ng-container *ngFor="let column of sessionHeaderName" [matColumnDef]="column">
      <mat-header-cell style="min-width: 50px;" *matHeaderCellDef>{{ column }}

        <br>
      {{ getTotalAttendance(column) }} / {{ total }}
      </mat-header-cell>>
      <mat-cell *matCellDef="let row" [ngStyle] = "{'color': (getAttendance(row, column) == 'P') ? 'green' : (getAttendance(row, column) == 'A') ? 'red' : 'black'}">
        {{ getAttendance(row, column) }}

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
           <button
           *ngIf="getAttendance(row, column) == 'A' || getAttendance(row, column) == 'N/A'"
            mat-menu-item
            (click)="mark(row.student.studentId, column, row,  getAttendance(row, column), true)"
          >
            <span>Mark Present</span>
          </button>
          <button
          *ngIf="getAttendance(row, column) == 'P' || getAttendance(row, column) == 'N/A'"
            mat-menu-item
            (click)="mark(row.student.studentId, column, row,  getAttendance(row, column), false)"
          >
            <span>Mark Absent</span>
          </button>

        </mat-menu>
      </mat-cell>>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers; sticky: true"></mat-header-row>>
    <mat-row *matRowDef="let row; columns: headers"></mat-row>>
  </mat-table>
  <div>
  <h3></h3>
  <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
  <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
  <button mat-raised-button (click)="exporter.exportTable('json')">Json</button>
  <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>
  </div>
</div>
