
<h3>New Session </h3>
<form [formGroup] = "newSessionForm">

  <mat-form-field>
    <input matInput placeholder="Session Name" formControlName="sessionName">
  </mat-form-field>

  <!-- [(ngModel)]="selectedValue" -->

  <mat-form-field >
    <mat-label>Trainer</mat-label>
    <mat-select  name="trainer" formControlName="trainer">
      <mat-option *ngFor="let trainer of Trainers" [value]="trainer">
        {{trainer}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Time Slot</mat-label>
    <mat-select  name="timeSlot" formControlName="timeSlot">
      <mat-option value = "Morning"> Morning </mat-option>
      <mat-option value = "Evening"> Evening </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="startDate"
      placeholder="Start Date"
      formControlName="startDate"
    />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>


</form>

<div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click) = "onSubmit()" mat-raised-button mat-dialog-close>Save</button>
</div>
