
 
<div class="float-container">
  <div class="float-child">
  <div class="float-disp"><h2>Students</h2>
         <ul>
        <li *ngFor="let link of studentNames">
          <mat-checkbox  [checked]=true   (change)="checkCheckBoxvalue($event,link)">
          {{link.firstName}} {{ link.lastName}}
        </mat-checkbox>
        </li>
      </ul>
  </div>
    </div>  
    <div class="float-child">
      <div>
      <form [formGroup]="custForm" class  = "example-form">
      <mat-form-field class = "example-full-width">
        <mat-label>
          Enter group size
        </mat-label>
          <input matInput type="number" formControlName="size" />
      </mat-form-field>
      <br>
      <button mat-stroked-button color="primary" style = "margin-bottom:2px" (click) = "this.generate()">Create</button>
      <!-- <button
      mat-raised-button
      type="submit"
      (click) = "this.generate()"
      style = "margin-bottom:2px"
      >
      Create
    </button> -->
    </form>
  </div>
</div>
</div>
