
<div>
    <table mat-table [dataSource]="Data" class="mat-elevation-z8">

     
        <ng-container matColumnDef="firstName">
          <th mat-header-cell style="max-width: 100px" *matHeaderCellDef> Name </th>
          <td mat-cell style="max-width: 100px" *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
        </ng-container>
      
   
        <ng-container matColumnDef="marks">
          <th mat-header-cell style="width: 100px" *matHeaderCellDef>marks
          </th>
          <td mat-cell style="width: 100px" *matCellDef="let row">
            <mat-form-field style="width: 20px" class="example-form-field">
              <input matInput type="number" min="0" max="100"/>
            </mat-form-field>
    
            &nbsp; / 10
          </td>
        </ng-container>
  
        <ng-container matColumnDef="feedback">
            <th mat-header-cell style="max-width: 150px" *matHeaderCellDef
              >Feedback</th>
            <td mat-cell style="min-width: 150px" *matCellDef="let row">
                <mat-form-field class="example-full-width">
                   
                    <input matInput placeholder="feed" >
                  </mat-form-field>
              
             
             
        
              <mat-divider vertical style="height: 20px"></mat-divider>
             
             
                </td>
              
          </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let row; columns: headers;"></tr>
      </table>
    

   
</div>